{{link-to 'Back to orgs' 'orgs'}}

<h2>Facebook</h2>

<span {{action 'addToRecords' 'Two'}}>CLick Meeee!</span>
<ul>

  {{#each records as |record|}}
	  <li>{{record.id}}</li>
  {{/each}}

</ul>
  {{outlet}}



