
<h1>My Favourate ORGS</h1>

<ul>

    {{#each content as |org|}}
		    <li> {{link-to org.id 'org' org.id}} </li>
      {{else}}
      <h1>list is empty</h1>
      {{/each}}


</ul>

{{link-to 'Home' 'index'}}

{{outlet}}
